doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		script(src="/scripts/jquery.min.js")
		script(src="/scripts/bootstrap.min.js")
		script.
			function filterProf() {
				location.href = '/professor/' + $("#prof").val();
			};
			function filterOpt() {
				location.href = '/option/' + $("#opt").val();
			};
		title MasterChoice - #{name ? name : 'Tous les cours'}

	body

		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapse", aria-expanded="false")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar

					a.navbar-brand(href="/").
						#[img.logo(src="/img/epl.png")]
						MasterChoice - #{name ? name : 'Tous les cours'}

				.collapse.navbar-collapse#collapse
					ul.nav.navbar-nav.navbar-right
						li.navbar-text
							strong Nombre de crédits choisis : …
						li.navbar-text
						li.btn-nav
							button.btn.btn-primary.navbar-btn(data-toggle="modal", data-target="#info") Plus de détails
						li.navbar-text

		.container-fluid
			.form-inline.text-center
				.form-group
					label(for="prof") Filtrer par professeur :
					select.form-control#prof
						option
						each name in profNames
							option #{name}
					button.btn.btn-primary(onclick="filterProf();") Filtrer
				.form-group.form-space
				.form-group
					label(for="opt") Filtrer par option :
					select.form-control#opt
						option
						each name in optNames
							option #{name}
					button.btn.btn-primary(onclick="filterOpt();") Filtrer

			.table-responsive
				table.table.table-striped
					thead
						tr
							th.col-xs-1 Code
							th.col-xs-3 Nom du cours
							th.col-xs-2 Professeur
							th.col-xs-2 Option
							th.col-xs-1 Crédits
							th.col-xs-1 Quadri
							th.col-xs-1 Commentaire
							th.col-xs-1 Ajouter
					tbody
						each course in courses
							tr
								td
									strong #{course.code}
								td
									em #{course.title}
								td
									ul.list-group
										each prof in course.professors
											li.list-group-item
												a(href="/professor/" + prof.name) #{prof.name}
								td
									ul.list-group
										each opt in course.options
											if opt.required
												li.list-group-item.list-group-item-info
													a(href="/option/" + opt.name) #{opt.name}
											else
												li.list-group-item
													a(href="/option/" + opt.name) #{opt.name}
								td.text-center #{course.credits}
								td.text-center #{course.semester}
								td
									small
										i #{course.comments}
								td
									button.btn.btn-primary.btn-xs MA1
									button.btn.btn-primary.btn-xs MA2

		footer
			p A small website to help you choose your Computer Science master program at UCL. &copy; 2017 Sébastien Strebelle
