extends ./layout.pug

block append head
	script.
		function filter(kind) {
			if (kind === "prof")
				location.href = '/professor/' + $("#prof").val();
			else
				location.href = '/option/' + $("#opt").val();
		};

block content
	.container-fluid
		.form-inline
			.form-group
				label(for="opt") Filtrer par option :
				select.form-control#opt
					option
					each name in optNames
						option #{name}
				button.btn.btn-primary(onclick="filter('opt');") Filtrer
			.form-group.form-space
			.form-group
				label(for="prof") Filtrer par professeur :
				select.form-control#prof
					option
					each name in profNames
						option #{name}
				button.btn.btn-primary(onclick="filter('prof');") Filtrer

		table.table.table-striped
			thead
				tr
					th Code
					th Nom du cours
					th Professeur
					th Option
					th Crédits
					th Quadri
					th Commentaire
					th Action
			tbody
				each course in courses
					tr
						td #{course.code}
						td #{course.title}
						- names = ""
						each prof in course.professors
							- names += prof.name + "<br \>"
						td !{names}
						- names = ""
						each opt in course.options
							if opt.required
								- names += "<strong>" + opt.name + "</strong><br \>"
							else
								- names += opt.name + "<br \>"
						td !{names}
						td #{course.credits}
						td #{course.semester}
						td #{course.comments}
						td
							button.btn.btn-primary.btn-xs Ajouter
